header {
    background-color: #244751;
    color: #e8fdff;
}

body {
    background-color: whitesmoke;
}

main {
    background-color: white;
    padding: 16px;
}

.post {
    margin-bottom: 48px;
}

.post .user-info img {
    border-radius: 50;
}

header {
    display: flex;
    flex-direction: row;
}

header > .login-info {
    margin-right: 2%;
    
}

header a {
    color: #e8fdff;
}

.form-group > label {
    width: 30%;
}

@media (max-width:600px) { 
    
    header {
        color: red;
    }
}
